<div class="p-8">
  <form class="">
    <mat-form-field>
      <mat-icon matPrefix aria-hidden="false" aria-label="Search" fontIcon="search"></mat-icon>
      <mat-label>
        <span>Username</span>
      </mat-label>
      <input matInput placeholder="Username" [formControl]="searchStr">
    </mat-form-field>
  </form>
  <div class="border mt-4">
    <div *ngFor="let user of invitationNotSentUsers" class="border">
      <div>{{user.id}}</div>
      <div>{{user.username}}</div>
      <button mat-stroked-button color="primary" (click)="onInviteClick(user.id)">Invite</button>
    </div>
  </div>
</div>
