<div class="border">
  <div class="text-3xl font-semibold py-4"><span>Contacts</span></div>
  <div class="bg-amber-400 mb-4" *ngFor="let contact of contacts">
    <div><span>{{contact.recipientType}}</span></div>
    <div (click)="onChatClick(contact.recipientId, contact.recipientType)" class="cursor-pointer"><span>{{contact.recipientName}} {{contact.newMsgCount}}</span></div>
    <div><span>{{contact.updatedAt}}</span></div>
    <div *ngIf="contact.recipientType === 'GROUP'" class="py-2">
      <button mat-stroked-button color="primary" (click)="onMemberListClick(contact.recipientId, contact.recipientName)">Members</button>
      <button mat-stroked-button class="ml-12" color="primary" (click)="onInviteUsersClick(contact.recipientId, contact.recipientName)">Invite users + </button>
      <button mat-stroked-button class="ml-4" color="warn" (click)="onGroupDeleteClick(contact.recipientId, contact.recipientName)">Delete Group x</button>
    </div>
  </div>
</div>
