<div #container (focus)="handleContainFocusIn()">
  <mat-divider></mat-divider>
  <div class="py-4"><span>Recipient Id: {{recipient?.recipientId}}, recipient type: {{recipient?.recipientType}}</span></div>
  <div>
    <div *ngFor="let msg of conversion">
      <span>sender: ({{msg.senderId}}-{{msg.senderUsername}}), content: {{msg.content}}, status: {{msg.status}}, read at: {{msg.readAt}}</span>
    </div>
  </div>
  <mat-form-field>
    <mat-label>Message</mat-label>
    <input matInput placeholder="Message" [formControl]="msg">
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="sendMsg()">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="send"></mat-icon>
  </button>
</div>
