<div class="px-8 py-8 w-[500px] h-[500px]">
  <mat-tab-group>
    <mat-tab label="Friends">
      <app-invite-friends-tabpage [groupId]="getGroupId()" (groupInvitationListUpdated)="onGroupInvitationListUpdated()" (userSearchResultUpdated)="onSearchResultUpdated()"/>
    </mat-tab>
    <mat-tab label="Other users">
      <app-invite-other-users-tabpage [groupId]="getGroupId()" (groupInvitationListUpdated)="onGroupInvitationListUpdated()" (userSearchResultUpdated)="onSearchResultUpdated()"/>
    </mat-tab>
  </mat-tab-group>
  <app-group-invitation-list [groupId]="getGroupId()" (userSearchResultUpdated)="onSearchResultUpdated()"/>
</div>
